// color-theme/summer.scss by Claire Crawford
/* color-theme/summer.scss by Claire Crawford */
$color-primary: #ced203;
$color-primary-background: #61022e;
$color-secondary: #efcef1;
$color-secondary-background:olive;
$color-cta:#fffe6f;